<fetishmaster.engine.TextTemplate>
  <conditions>c = (Creature) GetObject(&quot;mistress_current_trainee&quot;);
c != null &amp;&amp; status.inHome(c) &amp;&amp; c.getStat(&quot;generic.lewdness&quot;) &gt; 20;</conditions>
  <text>&lt;%c =(Creature) GetObject(&quot;mistress_current_trainee&quot;); &quot;&quot;;%&gt;&lt;%self.getName();%&gt; spent some time to the mental coditioning of a &lt;%c.getName();%&gt;. She selected hentai matherial this time.&#xd;
&lt;%LustShame(c, 20, 30); &#xd;
if (ShameCheck(c, 35) &gt; 1)&#xd;
  { RelaxShame(c, 1); }&#xd;
task_image=&quot;base/read_hentai.jpg&quot;;&#xd;
MoveWorkerToReturnList(c, 5);&#xd;
 &quot;&quot;;%&gt;</text>
  <priority>1</priority>
  <picturePath></picturePath>
  <choices/>
  <overrideChoices>false</overrideChoices>
</fetishmaster.engine.TextTemplate>