<fetishmaster.engine.TextTemplate>
  <conditions>c = (Creature) GetObject(&quot;mistress_current_trainee&quot;);
c != null &amp;&amp; status.inHome(c);</conditions>
  <text>&lt;%c = (Creature) GetObject(&quot;mistress_current_trainee&quot;); &quot;&quot;;%&gt;&lt;%self.getName();%&gt; spent some time to the mental coditioning of a &lt;%c.getName();%&gt;&#xd;
&lt;%LustShame(c, 10, 20); &#xd;
if (ShameCheck(c, 20)&gt;0)&#xd;
  { RelaxShame(c, 1); }&#xd;
task_image=&quot;base/read_erotic.jpg&quot;;&#xd;
MoveWorkerToReturnList(c, 5);&#xd;
 &quot;&quot;;%&gt;</text>
  <priority>0</priority>
  <picturePath></picturePath>
  <choices/>
  <overrideChoices>false</overrideChoices>
</fetishmaster.engine.TextTemplate>