<fetishmaster.engine.TextTemplate>
  <conditions>c = (Creature) GetObject(&quot;mistress_current_trainee&quot;);
c != null &amp;&amp; status.inHome(c) &amp;&amp;
c.getStat(&quot;skill.blowjob&quot;) &lt;= 30;</conditions>
  <text>&lt;%c = (Creature) GetObject(&quot;mistress_current_trainee&quot;); &quot;&quot;;%&gt;&lt;%self.getName();%&gt; spent some time to the supervising &lt;%c.getName();%&gt; training as a sex worker.&#xd;
&lt;%LustShame(c, 40, 20); &#xd;
if (ShameCheck(c, 40)&gt;0)&#xd;
  { RelaxShame(c, 1); }&#xd;
task_image=&quot;base/sex_train.jpg&quot;;&#xd;
MoveWorkerToReturnList(c, 1);&#xd;
 &quot;&quot;;%&gt;&#xd;
This lesson focused on blowjob sex skills.&#xd;
&lt;% c.addStat(&quot;skill.blowjob&quot;, 5); &quot;&quot;;%&gt;</text>
  <priority>1</priority>
  <picturePath></picturePath>
  <choices/>
  <overrideChoices>false</overrideChoices>
</fetishmaster.engine.TextTemplate>